{% extends "template_layout_vanilla.html" %}

{% block content %}
    <h2>Alternates view of a <a href="{{ class_uri }}">{{ class_uri }}</a></h2>
    {% if instance_uri %}
        <h3>Instance <a href="{{ instance_uri_encoded }}">{{ instance_uri }}</a></h3>
    {% endif %}
    <table class="lined">
    <tr><th>View</th><th>Formats</th></tr>
    {% for v, fs in views_formats.iteritems() %}
        {% if v == 'default' %}
            <td>default</td><td><a href="{{ request.base_url }}?_uri={{ instance_uri_encoded if instance_uri != None else class_uri_encoded }}&_view={{ fs }}">{{ fs }}</a></td>
        {% else %}
            <tr>
                <td><a href="{{ request.base_url }}?_uri={{ instance_uri_encoded if instance_uri != None else class_uri_encoded }}&_view={{ v }}">{{ v }}</a></td>
                <td>
                {% for f in fs %}
                <a href="{{ request.base_url }}?_uri={{ instance_uri_encoded if instance_uri != None else class_uri_encoded }}&_view={{ v }}&_format={{ f }}">{{ f }}</a>
                {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>


{% endblock %}