{% extends "template_layout_vanilla.html" %}

{% block content %}
    {% if entity %}
        <h2>An Entity - <a href="https://www.w3.org/TR/prov-o/">PROV</a> view</h2>
        <p><a href="{{ request.url }}">html</a> | <a href="{{ request.url }}&_format=text/turtle">rdf/turtle</a></p>
        <table class="lined">
            <tr><th>URI:</th><td><a href="{{ entity['uri'] }}">{{ entity['uri'] }}</a></td></tr>
            {% if entity['label'] is not none %}
                <tr><th>Label:</th><td>{{ entity['label'] }}</td></tr>
            {% endif %}
            {% if entity['value'] is not none %}
                <tr><th>Value:</th><td>{{ entity['value'] }}</td></tr>
            {% endif %}
        </table>

        <h3>Alternate views</h3>
        <p>Different view of this object are listed at its <a href="{{ request.base_url }}?_uri={{ entity['uri_encoded'] }}&_view=alternates">Alternate views</a> page.</p>

        <h3>PROV view</h3>
        <p>This view of this Entity shows everything from the provenance database known about this Entity, but only things according to the PROV ontology or upper contologies (RDF, RDFS, OWL). Additional facts recorded using other ontologies are not show.</p>

        <h4>PROV data visualisation</h4>
        <div id="network" style="width:100%; height:500px;"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vis.js') }}"></script>
        <link href="{{ url_for('static', filename='css/vis-network.min.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            {{ visjs|safe }}
        </script>

        <h4>PROV RDF data (turtle format)</h4>
        <textarea style="width:99%; height:200px;">{{ prov_data }}</textarea>

    {% else %}
        <p>No Entity information found.</p>
    {% endif %}
{% endblock %}
