{% extends "template_layout_vanilla.html" %}

{% block content %}
    {% if entity %}
        <h2>An Entity</h2>
        <p><a href="{{ request.url }}">html</a> | <a href="{{ request.url }}&_format=text/turtle">rdf/turtle</a></p>
        <table class="lined">
            <tr><th>URI:</th><td><a href="{{ entity['uri'] }}">{{ entity['uri'] }}</a></td></tr>
            {% if entity['label'] is not none %}
                <tr><th>Label:</th><td>{{ entity['label'] }}</td></tr>
            {% endif %}
            {% if entity['value'] is not none %}
                <tr><th>Value:</th><td>{{ entity['value'] }}</td></tr>
            {% endif %}
        </table>

        <h3>Alternate views</h3>
        <p>Different view of this object are listed at its <a href="{{ request.base_url }}?_uri={{ entity['uri_encoded'] }}&_view=alternates">Alternate views</a> page.</p>

        {% if entity['script'] %}
            <h3>Neighbours view</h3>
            <div id="neighbour_view"></div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/raphael-min.js') }}" charset="utf-8"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/proms-svg.js') }}" charset="utf-8"></script>
            <script type="text/javascript">
                {{ entity['script'] | safe }}
            </script>
        {% endif %}
    {% else %}
        <p>No Entity information found.</p>
    {% endif %}
{% endblock %}
