{% extends "template_layout_vanilla.html" %}

{% block content %}
    {% if report %}
        <h2>A {{ report['rt_label'] }} Report</h2>
        <p><a href="{{ request.url }}">html</a> | <a href="{{ request.url }}&_format=text/turtle">rdf/turtle</a></p>
        <table class="lined">
            <tr><th>URI:</th><td><a href="{{ report['uri'] }}">{{ report['uri'] }}</a></td></tr>
            <tr><th>Label:</th><td>{{ report['label'] }}</td></tr>
            <tr><th>Native ID:</th><td>{{ report['nid'] }}</td></tr>
            <tr><th>Generated At Time:</th><td>{{ report['gat'] }}</td></tr>
            <tr><th>Was Reported By:</th><td><a href={{ url_for('modelx.instance') }}?_uri={{ report['rs_encoded'] }}>{{ report['rs_label'] }}</a></td></tr>
        </table>

        <h3>Alternate views</h3>
        <p>Different view of this object are listed at its <a href="{{ request.url }}&_view=alternates">Alternate views</a> page.</p>

        {% if report['script'] %}
            <h4>Neighbours view</h4>
            <div id="neighbour_view"></div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/raphael-min.js') }}" charset="utf-8"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/proms-svg.js') }}" charset="utf-8"></script>
            <script>
                {{ report['script'] | safe }}
            </script>
        {% endif %}
    {% else %}
        <p>No Report information found.</p>
    {% endif %}
{% endblock %}
