{% extends "template_layout_vanilla.html" %}

{% block content %}
    {% if report %}
        <h2>A {{ report['rt_label'] }} Report</h2>
        <p><a href="{{ request.url }}">html</a> | <a href="{{ request.url }}&_format=text/turtle">rdf/turtle</a></p>
        <table class="lined">
            <tr><th>URI:</th><td><a href="{{ report['uri'] }}">{{ report['uri'] }}</a></td></tr>
            <tr><th>Label:</th><td>{{ report['label'] }}</td></tr>
            <tr><th>Native ID:</th><td>{{ report['nid'] }}</td></tr>
            <tr><th>Generated At Time:</th><td>{{ report['gat'] }}</td></tr>
            <tr><th>Was Reported By:</th><td><a href={{ url_for('modelx.instance') }}?_uri={{ report['rs_encoded'] }}>{{ report['rs_label'] }}</a></td></tr>
        </table>

        <h3>Alternate views</h3>
        <p>Different view of this object are listed at its <a href="{{ request.url }}&_view=alternates">Alternate views</a> page.</p>

        <h3>PROV view</h3>
        <p>This view of this Entity shows everything from the provenance database known about this Entity, but only things according to the PROV ontology or upper contologies (RDF, RDFS, OWL). Additional facts recorded using other ontologies are not show.</p>
        <textarea style="width:99%; height:200px;">{{ prov_data }}</textarea>

    {% else %}
        <p>No Report information found.</p>
    {% endif %}
{% endblock %}
