{% extends "template_layout_vanilla.html" %}

{% block content %}
    {% if activity %}
        <h2>An Activity</h2>
        <p><a href="{{ request.url }}">html</a> | <a href="{{ request.url + "&_format=text/turtle" }}">rdf/turtle</a></p>
        <table class="lined">
            <tr><th>URI:</th><td><a href="{{ activity['uri'] }}">{{ activity['uri'] }}</a></td></tr>
            <tr><th>Label:</th><td>{{ activity['label'] }}</td></tr>
            <tr><th>Started:</th><td>{{ activity['sat'] }}</td></tr>
            <tr><th>Ended:</th><td>{{ activity['eat'] }}</td></tr>
            {% if activity['waw_encoded'] is not none  %}
                <tr><th>Was Associated With:</th><td><a href="{{ url_for('modelx.instance') + '?_uri=' + activity['waw_encoded'] }}">activity['waw_label']</a></td></tr>
            {% endif %}
        </table>

        <h3>Alternate views</h3>
        <p>Different view of this object are listed at its <a href="{{ request.url }}&_view=alternates">Alternate views</a> page.</p>

        {% if activity['script'] %}
            <h4>Neighbours view</h4>
            <div id="neighbour_view"></div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/raphael-min.js') }}" charset="utf-8"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/proms-svg.js') }}" charset="utf-8"></script>
            <script>
                {{ activity['script'] | safe }}
            </script>
        {% endif %}
    {% else %}
        <p>No Activity information found.</p>
    {% endif %}
{% endblock %}
