{% extends "template_layout_vanilla.html" %}

{% block content %}
    <h2 style="color:red;">HTTP Method Not Allowed</h2>
    <p>Sorry, you can't use that HTTP method for this endpoint.</p>
{% endblock %}
