{% extends "template_layout_vanilla.html" %}

{% block content %}
    <h2>About PROMS Server</h2>
    <p>The <a href="http://promsns.org/wiki/proms">PROMS Wiki</a> contains all the PROMS Server documentation and information about all the other PROMS and associated tools.</p>
    <h2>API Endpoints</h2>
    <p>For links to all the API endpoints offered by this PROMS Server instance, go to:</p>
    <ul>
        <li><a href="{{ url_for('pages.api') }}">API</a></li>
    </ul>
    <h2>Server instance details</h2>
    <p>These are some basic facts about this PROMs Server instance</p>
    <table class="lined">
        <tr>
            <th>Version:</th><td>{{ version }}</td>
        </tr>
    </table>
    <h3>Contact</h3>
    <p>Contact the authors of this software via the PROMS Wiki link above.</p>
{% endblock %}