{% extends "template_layout_vanilla.html" %}

{% block content %}
    <h2>Home</h2>
    <p>This is the index page for the PROMS (PROvenance Management System) data store. It contains a database to store provenance data and a series of functions to manage that data.</p>
    <h3>More About PROMS Server</h3>
    <p>See the <a href="{{ url_for('pages.about') }}">About</a> page.</p>
{% endblock %}