{% extends "template_layout_vanilla.html" %}

{% block content %}
    <h2>Content</h2>
    <p>This page provides and overview of the content stored in this PROMS Server's provenance database.</p>

    <h3>Classes</h3>
    <p>The following classes<sup><a href="#note-1">*</a></sup> of item are present in this provenance database. The links lead to registers of items of those classes:</p>
    {%  if content_classes|length > 0 %}
        <ul>
        {% for class in content_classes %}
            <li><a href="{{ url_for('modelx.register') }}?_uri={{ class['uri_encoded'] }}">{{ class['uri'] }}</a></li>
        {% endfor %}
        </ul>
    {%  else %}
        <p style="color:red; font-weight:bold; font-style:italic;">No content found</p>
    {% endif %}

    <p><sup><a name="note-1"></a></sup><em>Note: not all classes are shown, only 'primary' classes, i.e. those declared in the PROV & PROMS ontologies, not infered classes or basic OWL or RDFS classes</em></p>
{% endblock %}