{% extends "template_layout_vanilla.html" %}

{% block content %}
    <h2>The PROMS Server API</h2>
    <h3>Endpoints</h3>
    <table class="lined">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Access</th>
        </tr>
        <tr>
            <th>Instance viewer</th>
            <td>Accesses a single object from the provenance database</td>
            <td>
                <p><a href="{{ url_for('modelx.instance') }}?_uri=">{{ url_for('modelx.instance') }}?_uri={uri}</a></p>
                uri <em>(mandatory)</em>: the URI of an object in the provenance database, URL encoded
            </td>
        </tr>
        <tr>
            <th>Register viewer</th>
            <td>Accesses a register of a single class of object from the provenance database</td>
            <td>
                <p><a href="{{ url_for('modelx.register') }}?_uri=">{{ url_for('modelx.register') }}?_uri={uri}</a></p>
                uri <em>(mandatory)</em>: the URI of a class of object in the provenance database, URL encoded
            </td>
        </tr>
        <tr>
            <th>Register viewer, class name</th>
            <td>Accesses a register of a single one class of object from the provenance database using the class name, not the full URI of the class</td>
            <td>
                <p><a href="{{ url_for('modelx.register') }}">{{ url_for('modelx.register') }}/{class_name}/</a></p>
                class_names available are:
                <ul>
                    <li>Activity</li>
                    <li>Agent</li>
                    <li>Entity</li>
                    <li>Person</li>
                    <li>Report</li>
                    <li>ReportingSystem</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>SPARQL endpoint</th>
            <td>Provides a read-only <a href="https://www.w3.org/TR/sparql11-overview/">SPARQL 1.1</a> endpoint for the provenance database</td>
            <td>
                <p><a href="{{ url_for('api.sparql') }}">{{ url_for('api.sparql') }}</a></p>
                See the SPARQL endpoint itself for documentation of use
            </td>
        </tr>
        <tr>
            <th>Lodge a <em>ReportingSystem</em></th>
            <td>Manually register a ReportingSystem for which Reports can then be sent to this PROMS Server instance</td>
            <td>
                <p><a href="{{ url_for('api.lodge_reportingsystem') }}">{{ url_for('api.lodge_reportingsystem') }}</a></p>
            </td>
        </tr>
        <tr>
            <th>Create a <em>ReportingSystem</em></th>
            <td>Manually create a PROMS ReportingSystem using a web form</td>
            <td>
                <p><a href="{{ url_for('api.create_reportingsystem') }}">{{ url_for('api.create_reportingsystem') }}</a></p>
            </td>
        </tr>
        <tr>
            <th>Lodge <em>Report</em></th>
            <td>POST a Report to this PROMS Server instance</td>
            <td>
                <p><a href="{{ url_for('api.lodge_report') }}">{{ url_for('api.lodge_report') }}</a></p>
                Must be an <a href="https://en.wikipedia.org/wiki/POST_(HTTP)">HTTP POST</a> request containing a <a href="https://confluence.csiro.au/display/PROMS/Getting+information+into+PROMS+Server">valid PROMS Report</a> for a <a href="https://confluence.csiro.au/display/PROMS/Getting+information+into+PROMS+Server">registered ReportingSystem</a> in one of the following RDF mimetypes: 'text/turtle', 'application/rdf+xml', 'application/rdf+json', 'application/json', 'text/ntriples', 'text/nt', 'text/n3'
            </td>
        </tr>
        <tr>
            <th>Create a <em>Report</em></th>
            <td>Manually create a PROMS Report to download or send to this PROMS Server instance using a web form</td>
            <td>
                <p><a href="{{ url_for('api.create_report') }}">{{ url_for('api.create_report') }}</a></p>
            </td>
        </tr>
        <tr>
            <th>Lodge <em>Pingback</em></th>
            <td>POST a PROV-AQ or a PROMS Pingback to this PROMS Server instance</td>
            <td>
                <p><a href="{{ url_for('api.lodge_pingback') }}">{{ url_for('api.lodge_pingback') }}</a></p>
                <h4>PROV-AQ messages</h4>
                <p>Must use:</p>
                    <ul>
                        <li><a href="{{ url_for('api.lodge_pingback') }}?resource_uri={RESOURCE_URI">{{ url_for('api.lodge_pingback') }}?resource_uri={RESOURCE_URI}</a></li>
                    </ul>
                <p>
                    Where {RESOURCE_URI} is the URI of the resource the pingback is sent for. Given that <a href="https://www.w3.org/TR/prov-aq/">PROV-AQ</a> specifies that a PROV-AQ poingback should be sent to the resource's URI, a redirect from <code>{RESOURCE_URI} --> {{ url_for('api.lodge_pingback') }}?resource_uri={RESOURCE_URI}</code> seems appropriate to implement in front of PROMS Server.
                </p>
                <h4>PROMS messages</h4>
                <p>Must use:</p>
                    <ul>
                        <li><a href="{{ url_for('api.lodge_pingback') }}">{{ url_for('api.lodge_pingback') }}</a></li>
                    </ul>
                <p>PROMS Pingback messages contain the resource information in their body therefore no query string arguments should be supplied.</p>
            </td>
        </tr>

        <!--
        <tr>
            <th>New <em>Pingback</em></th>
            <td>POST a PROV-O or PROMS Pingback to this PROMS Server instance</td>
            <td>
                <p><a href="{{ url_for('api.lodge_pingback') }}">{{ url_for('api.lodge_pingback') }}</a></p>
                Must be an <a href="https://en.wikipedia.org/wiki/POST_(HTTP)">HTTP POST</a> request containing a <a href="http://promsns.org/pingbacks/validator">valid poingback message</a>.
            </td>
        </tr>
        -->
    </table>
{% endblock %}